$white:     #FFF;
$gray-1:    #F1F2F3;
$gray-3:    #E0E0E0;
$gray-4:    #D5D3D2;
$gray-5:    #C6C5C5;
$gray-6:    #A09E9E;
$gray-7:    #C4C4C4;
$gray-8:    #807E7E;
$gray:      $gray-6;

$blue-4:    #8EC7D8;
$blue-5:    #72B9CE;
$blue-6:    #4FA7C2;
$blue:      $blue-6;

$green:     #80BC72;

$orange-4:  #E6A673;
$orange-5:  #E09050;
$orange-6:  #D87424;
$orange:    $orange-5;

$red:       #BD6961;

$teal-4:    #76D0C9;
$teal-6:    #1BB1A5;
