.row {
  @extend %clearfix;
  margin: 0 auto;
  max-width: 64rem;
  @media #{$desktop} { max-width: 55rem; }
  &.full { max-width: 100%; }
}

.column {
  float: left;
  margin: 0;
  padding: $global-gutter;
  &.half { width: 50%; }
}
