.modal-dialog {
  width: auto;
  margin: 0.5rem;
  @media #{$desktop} {
    width: 700px;
    margin: 10vh auto;
  }

  .modal-images {
    float: left;
    height: 100%;
    width: 100%;
    @media #{$desktop} {
      width: 60%;
    }

    .modal-img {
      display: block;
      margin: 0 auto;
      width: 100%;
      @media #{$tablet} {
        width: 20rem;
      }
    }
  }

  .modal-info {
    margin-top: 1rem;
    float: left;
    width: 100%;
    @media #{$desktop} {
      margin-top: 0;
      margin-left: 2%;
      width: 38%;
    }
  }

  p {
    font-size: 0.9rem;
    margin: 0 0 1.5rem 0;
  }
}
