$primary-color: #2F5D67;
$secondary-color: #475E63;
$nav-color: #E9EAEB;
$dark-gray: #D9DDE0;
$light-gray: #E9EAEB;

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

p {
  color: $secondary-color;
  margin: 0;
  padding: 0 0 1rem 0;
  line-height: 1.5rem;

  &.skill {
    margin-top: -0.1rem;
    text-align: right;
    padding: 0;
  }
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #222;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.no-padding {
  padding:0;
}

#slideshow {
  height: 25rem;
  background-color: #F2F4F5;
  position: relative;
  margin: auto;

  .hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
  }

  #designer {
    background-image: url("img/hero_designer.png");
  }

  #sports-enthusiast {
    background-image: url("img/hero_sports-enthusiast.png");
  }

  #tech-geek {
    background-image: url("img/hero_tech-geek.png");
  }

  #movie-junkie {
    background-image: url("img/hero_movie-junkie.png");
  }
}

#slideshow div {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.row {
  max-width: 50rem;
  margin: 0 auto;
  clear: both;
}

.column {
  padding: 1rem;
  float: left;

  &.full {
    width: 100%;
  }

  &.third {
    width: 33.3333333333%;
  }

  &.fourth {
    width: 25%;
  }

  &.two-thirds {
    width: 66.6666666667%;
  }

  &.three-forths {
    width: 75%;
  }
}

@media screen and (max-width: 650px) and (min-width: 0px) {
  .column {
    &.large-two-thirds, &.large-third, &.small-full {
      width: 100%;
    }

    & p {
      &.small-centered {
        text-align: center;
      }
    }
  }
}

@media screen and (max-width: 860px) and (min-width: 651px) {
  .column {
    &.large-two-thirds, &.large-third, &.medium-half {
      width: 50%;
    }
    & p {
      &.small-centered {
        text-align: center;
      }
    }
  }
}

@media screen and (min-width: 861px) {
  .column {
    &.large-third {
      width: 33.3333333333%;
    }

    &.large-two-thirds {
      width: 66.6666666667%;
    }
  }
}

.small {
  font-size: 0.8rem;
  color: #99A3A2;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

footer {
  margin: 8rem auto 1rem auto;
  width: 15rem;
  color: #B1B1B1;
  text-align: center;
}

/*-------design-------*/
.logo-mobile {
  display: none;
}

.container {
  overflow: hidden;
  margin: 0 auto;
  padding: 2rem 0.5rem;
  max-width: 1080px;
}

.thumbnail {
  float: left;
  position: relative;
  width: 20%;
  padding-bottom: 16%;
}

.shot {
  cursor: pointer;
  position: absolute;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  overflow: hidden;
  border-radius: 3px;
  margin-top: -0.1rem;

  &:hover {
    opacity: 0.8;
  }

  img {
    width: 100%;
  }
}

.fade {
   opacity: 1;
   transition: opacity .25s ease-in-out;
   -moz-transition: opacity .25s ease-in-out;
   -webkit-transition: opacity .25s ease-in-out;
}

.bkg-blue {
  box-shadow: 0px 3px 0px #75969C;
}

.bkg-white {
  box-shadow: 0px 3px 0px #C6C8CA;
}

.bkg-abide {
  box-shadow: 0px 3px 0px #413e39;
}

.bkg-chicago {
  box-shadow: 0px 3px 0px #67ac3f;
}

.bkg-charreada {
  box-shadow: 0px 3px 0px #BCAE9C;
}

.bkg-fall-blast {
  box-shadow: 0px 3px 0px #821a17;
}

.bkg-frolf {
  box-shadow: 0px 3px 0px #004E66;
}

.bkg-graduation {
  box-shadow: 0px 3px 0px #748291;
}

.bkg-man-camp {
  box-shadow: 0px 3px 0px #1D130C;
}

.bkg-outdoors {
  box-shadow: 0px 3px 0px #A7A297;
}

.bkg-penthouse {
  box-shadow: 0px 3px 0px #097599;
}

.bkg-roots {
  box-shadow: 0px 3px 0px #4B5961;
}

.bkg-womens14 {
  box-shadow: 0px 3px 0px #b4091c;
}


/* Mobile screens (480px) */
@media (max-width: 480px) {
  .thumbnail {
    width: 100%;
    padding-bottom: 80%; }
  .logo {
    display: none; }
  .logo-mobile {
    display: inline-block; }
}

/* Tablet screens (650px) */
@media (max-width: 650px) and (min-width: 481px) {
  .thumbnail {
    width: 50%;
    padding-bottom: 40%; }
  .logo-mobile {
    display: none; }
}

/* Desktop/tablet screens (860px) */
@media (max-width: 860px) and (min-width: 651px) {
  .thumbnail {
    width: 33.3333333%;
    padding-bottom: 27%; }
  .logo-mobile {
    display: none; }
}

/* Large desktop screens (1280px) */
@media (max-width: 1280px) and (min-width: 861px) {
  .thumbnail {
    width: 20%;
    padding-bottom: 16%; }
  .logo-mobile {
    display: none; }
}


/*-------blog-------*/
.blog {
  max-width: 32rem;
  padding: 2rem 1rem 1rem 1rem;
  margin: 0 auto;
}

.card {
  background-color: $light-gray;
  border: solid $dark-gray;
  border-width: 0 0 4px 0;
  border-radius: 3px;
  padding: 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: inline-block;
}

.blog-image {
  width: 100%;
  height: inherit;
  margin: 0 0 1rem 0;
  background-color: transparent;
}

.blog-link {
  font-size: 0.8rem;
  color: #777;
  float: left;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin-bottom: -0.2rem;

  &:hover {
    background-color: $dark-gray;
    border-radius: 3px;
  }

  a {
    color: inherit;

    &:visited {
      color: #777;
    }
  }
}

i {
  display: block;
  float: left;
  background-repeat: no-repeat;
  margin: 0.2rem 0.2rem 0 0;

  &.dribbble {
    width: 0.9rem;
    height: 1rem;
    background-image: url(img/dribbble.svg);
  }

  &.tumblr {
    width: 0.6rem;
    height: 1rem;
    background-image: url(img/tumblr.svg);
  }

  &.twitter {
    width: 1rem;
    height: 1rem;
    background-image: url(img/twitter.svg);
  }
}

/*-------blog_media-queries-------*/

@media (max-width: 400px) {
  .blog-link {
      padding: 0.4rem 0.8rem 0.4rem 0.8rem;

    i.dribbble {
      padding-right: 1.4rem;
      margin: 0;
    }

    i.tumblr {
      padding-right: 1rem;
      margin: 0;
    }

    i.twitter {
      padding-right: 1.6rem;
      margin: 0;
    }
  }
}

/*-------about-------*/
.about-section {
  padding: 2rem 1rem;
  height: auto;

  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.skill-bar {
  height: 1rem;
  border-radius: 50px;
  margin-top: 4px;

  &.illustrator {
    width: 100%;
    background-color: #FECE73;
  }

  &.photoshop {
    width: 90%;
    background-color: #A5DBF6;
  }

  &.indesign {
    width: 80%;
    background-color: #E973AB;
  }

  &.html {
    width: 80%;
    background-color: #85C491;
  }

  &.mac {
    width: 100%;
    background-color: #BFBCBC;
  }
}

.about-photo {
  background-image: url(img/about-photo.png);
  background-repeat: no-repeat;
  background-size: 100%;
  width: 14rem;
  height: 14rem;
  margin: 0 auto;
}

.social-button {
  float: left;
  width: 125px;
  display: inline-block;
}

hr {
  &.separator {
    padding: 0;
    border: none;
    border-top: 1px solid #DDD;
    color: #BBB;
    text-align: center;

    &.tools:after {
    content: "Tools & Skills";
    display: inline-block;
    position: relative;
    top: -0.75rem;
    font-size: 0.9rem;
    padding: 0 0.5rem;
    background: white;
    }

    &.clients:after {
    content: "Clients";
    display: inline-block;
    position: relative;
    top: -0.75rem;
    font-size: 0.9rem;
    padding: 0 0.5rem;
    background: white;
    }

    &.social:after {
    content: "Social";
    display: inline-block;
    position: relative;
    top: -0.75rem;
    font-size: 0.9rem;
    padding: 0 0.5rem;
    background: white;
    }
  }
}

/*-------contact-------*/
.contact-img {
  background-image: url(img/mac.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 23rem;
  height: 14rem;
  margin: 5rem auto 2rem auto;
}

.contact-text {
  font-size: 0.9rem;
  color: #999;
  text-align: center;
  line-height: 1.7rem;

  &.large {
    color: $primary-color;
    font-size: 1.2rem;
  }
}
