/* ==========================================================================
   Normalize.scss settings
   ========================================================================== */
/**
 * Includes legacy browser support IE6/7
 *
 * Set to false if you want to drop support for IE6 and IE7
 */
/* Base
   ========================================================================== */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 * 3. Corrects text resizing oddly in IE 6/7 when body `font-size` is set using
 *  `em` units.
 */
@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700);
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 6/7/8/9 and Firefox 3.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevents modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active, a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Addresses styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * 1. Remove border when inside `a` element in IE 8/9/10.
 * 2. Improves image quality when scaled in IE 7.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 * Correct font family set oddly in IE 6, Safari 4/5, and Chrome.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *  Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Improves appearance and consistency in all browsers.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *  and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *  `input` and others.
 * 4. Removes inner spacing in IE 7 without affecting normal text inputs.
 *  Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 *  Known issue: excess padding remains in IE 6.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */ }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Corrects text not wrapping in Firefox 3.
 * 4. Corrects alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*! dashing-core v1.0.6 | MIT License */
/* Core Variables
  =========================================================================== */
/* Core Extendables
  =========================================================================== */
.remove-list-style {
  margin: 0;
  padding: 0;
  list-style: none; }

.row, header, .clearfix {
  *zoom: 1; }
  .row:before, header:before, .row:after, header:after, .clearfix:before, .clearfix:after {
    content: " ";
    display: table; }
  .row:after, header:after, .clearfix:after {
    clear: both; }

/* Core Mixins
  =========================================================================== */
/* Core Utility Classes
  =========================================================================== */
.hide, .hidden {
  display: none !important; }

.mobile-hide {
  display: none; }
  @media all and (min-width: 40em) {
    .mobile-hide {
      display: "block"; } }

.mobile-hide-inline {
  display: none; }
  @media all and (min-width: 40em) {
    .mobile-hide-inline {
      display: "inline"; } }

.tablet-hide {
  display: none; }
  @media all and (min-width: 64em) {
    .tablet-hide {
      display: "block"; } }

.tablet-hide-inline {
  display: none; }
  @media all and (min-width: 64em) {
    .tablet-hide-inline {
      display: "inline"; } }

.pointer, .selectable {
  cursor: pointer !important; }

.remove-margin, .no-margin {
  margin: 0 !important; }

.remove-padding {
  padding: 0 !important; }

.remove-border {
  border: none !important; }

.float-left {
  float: left !important; }

.float-right {
  float: right !important; }

.float-none {
  float: none !important; }

.fixed {
  position: fixed !important; }

.relative {
  position: relative !important; }

/* Color Scale
  ================================================== */
/* Typography Variables
  =========================================================================== */
/* Typography Utility Classes
  =========================================================================== */
.text-align-center, .center-align {
  text-align: center !important; }

.text-align-left, .left-align {
  text-align: left !important; }

.text-align-right, .right-align {
  text-align: right !important; }

.no-wrap {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; }

.break-word {
  word-wrap: break-word; }

/* Typography Styles
  =========================================================================== */
* {
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility; }

body {
  background-color: #EDEDED;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px; }

h1, h2, h3, h4, h5, h6 {
  color: #222222;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 600;
  margin: 0; }

h1 {
  font-size: 1.953rem; }

h2 {
  font-size: 1.563rem; }

h3 {
  font-size: 1.25rem; }

h4 {
  font-size: 1rem; }

a {
  outline: none;
  text-decoration: none;
  color: #6A8DD3; }
  a:hover, a:focus {
    color: #84A7ED; }

p {
  color: #222222;
  line-height: 1.25rem; }

/* Actions Variables
  =========================================================================== */
/* Actions Extendables
  =========================================================================== */
.button, button, input[type='submit'], input[type='reset'], .action {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: 600;
  outline: none;
  text-transform: uppercase;
  text-decoration: none; }

/* Actions Mixins
  =========================================================================== */
/* Actions Styles
  =========================================================================== */
.button, button, input[type='submit'], input[type='reset'] {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
  border-radius: 50px;
  background-color: #6A8DD3;
  color: #FFFFFF;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-font-smoothing: auto;
  display: block;
  font-weight: 400;
  padding: 0.8rem 1rem;
  text-align: center; }
  .button:hover, .button:focus, button:hover, button:focus, input[type='submit']:hover, input[type='submit']:focus, input[type='reset']:hover, input[type='reset']:focus {
    background-color: #436fc7;
    color: #FFFFFF; }
  @media all and (min-width: 40em) {
    .button, button, input[type='submit'], input[type='reset'] {
      display: inline-block;
      padding: 0.5rem 1rem;
      padding-top: 0.4rem; } }
  .button[disabled], .button.disabled, .button.button-disabled, button[disabled], button.disabled, button.button-disabled, input[type='submit'][disabled], input[type='submit'].disabled, input[type='submit'].button-disabled, input[type='reset'][disabled], input[type='reset'].disabled, input[type='reset'].button-disabled {
    cursor: default;
    opacity: 0.4;
    pointer-events: none; }
  .button.button-block, button.button-block, input[type='submit'].button-block, input[type='reset'].button-block {
    display: block !important;
    width: 100%; }
  .button.button-large, button.button-large, input[type='submit'].button-large, input[type='reset'].button-large {
    font-size: 1.25rem !important; }
  .button.button-primary, button.button-primary, input[type='submit'].button-primary, input[type='reset'].button-primary {
    background-color: #6A8DD3;
    color: #FFFFFF; }
    .button.button-primary:hover, .button.button-primary:focus, button.button-primary:hover, button.button-primary:focus, input[type='submit'].button-primary:hover, input[type='submit'].button-primary:focus, input[type='reset'].button-primary:hover, input[type='reset'].button-primary:focus {
      background-color: #436fc7;
      color: #FFFFFF; }
  .button.button-secondary, button.button-secondary, input[type='submit'].button-secondary, input[type='reset'].button-secondary {
    background-color: #D4D4D4;
    color: #222222; }
    .button.button-secondary:hover, .button.button-secondary:focus, button.button-secondary:hover, button.button-secondary:focus, input[type='submit'].button-secondary:hover, input[type='submit'].button-secondary:focus, input[type='reset'].button-secondary:hover, input[type='reset'].button-secondary:focus {
      background-color: #bbbbbb;
      color: #222222; }

.action {
  color: #6A8DD3; }
  .action:hover, .action:focus {
    opacity: 0.6; }
  .action.action-primary {
    color: #6A8DD3; }
    .action.action-primary:hover, .action.action-primary:focus {
      opacity: 0.6; }
  .action.action-secondary {
    color: #6E6E6E; }
    .action.action-secondary:hover, .action.action-secondary:focus {
      opacity: 0.6; }

html {
  font-size: 1rem; }

.row {
  margin: 0 auto;
  max-width: 64rem; }
  @media all and (min-width: 64em) {
    .row {
      max-width: 55rem; } }
  .row.full {
    max-width: 100%; }

.column, .column--learn {
  float: left;
  margin: 0;
  padding: 0.5rem; }
  .column.half, .half.column--learn {
    width: 50%; }

.modal-dialog {
  width: auto;
  margin: 0.5rem; }
  @media all and (min-width: 64em) {
    .modal-dialog {
      width: 700px;
      margin: 10vh auto; } }
  .modal-dialog .modal-images {
    float: left;
    height: 100%;
    width: 100%; }
    @media all and (min-width: 64em) {
      .modal-dialog .modal-images {
        width: 60%; } }
    .modal-dialog .modal-images .modal-img {
      display: block;
      margin: 0 auto;
      width: 100%; }
      @media all and (min-width: 40em) {
        .modal-dialog .modal-images .modal-img {
          width: 20rem; } }
  .modal-dialog .modal-info {
    margin-top: 1rem;
    float: left;
    width: 100%; }
    @media all and (min-width: 64em) {
      .modal-dialog .modal-info {
        margin-top: 0;
        margin-left: 2%;
        width: 38%; } }
  .modal-dialog p {
    font-size: 0.9rem;
    margin: 0 0 1.5rem 0; }

.row:after, header:after, .row:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .row, * html header, * html .row {
  zoom: 1; }

*:first-child + html .row, *:first-child + html header, *:first-child + html .row {
  zoom: 1; }

.centered {
  text-align: center; }

.float-right {
  float: right !important; }

.float-left {
  float: left !important; }

.mobile-hide {
  display: none; }
  @media all and (min-width: 40em) {
    .mobile-hide {
      display: inline; } }

.mobile-hide-inline-block {
  display: none; }
  @media all and (min-width: 40em) {
    .mobile-hide-inline-block {
      display: inline-block; } }

.mobile-tablet-hide {
  display: none; }
  @media all and (min-width: 64em) {
    .mobile-tablet-hide {
      display: inline-block; } }

.tablet-hide {
  display: inline-block; }
  @media all and (min-width: 40em) {
    .tablet-hide {
      display: none; } }
  @media all and (min-width: 64em) {
    .tablet-hide {
      display: inline-block; } }

@media all and (min-width: 64em) {
  .desktop-hide {
    display: none; } }

body {
  background-color: #F1F2F3;
  color: #222;
  font-family: "Source Sans Pro", sans-serif;
  margin: 0;
  padding: 0;
  height: 100%; }

section {
  display: block;
  padding: 0 2rem; }

header {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #FBFBFB;
  height: 4rem;
  overflow: hidden;
  padding: 1rem; }
  @media all and (min-width: 64em) {
    header {
      background-color: rgba(251, 251, 251, 0.9);
      border-bottom: 2px solid #E0E0E0;
      height: 4.4rem;
      position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 2; } }
  header ul {
    margin: 0;
    padding: 0; }
  header li, header a {
    color: #807E7E;
    cursor: pointer;
    display: inline;
    list-style-type: none;
    line-height: 37px;
    font-size: 0.9rem;
    transition: all 0.15s ease 0s; }
    header li:hover, header li:focus, header a:hover, header a:focus {
      color: #4FA7C2;
      outline: none;
      text-decoration: none; }
    header li.current, header a.current {
      color: #4FA7C2; }
  header li {
    padding: 0 0.5rem; }
    @media all and (min-width: 40em) {
      header li {
        padding: 0 1rem; } }

footer {
  background-color: #E0E0E0;
  border-top: 2px solid #D5D3D2;
  color: #A09E9E;
  font-size: 0.9rem;
  margin: 0;
  padding: 1rem;
  text-align: center;
  width: 100%; }

button, .button {
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  border-radius: 50px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: transparent;
  border-color: #A09E9E;
  color: #A09E9E;
  cursor: pointer;
  border: 2px solid;
  font-size: 0.8rem;
  letter-spacing: 0.05rem;
  line-height: 0;
  list-style-type: none;
  outline: none;
  padding: 1rem 0.8rem;
  text-transform: uppercase;
  transition: all 0.15s ease 0s; }
  @media all and (min-width: 40em) {
    button, .button {
      font-size: 0.9rem; } }
  button:active, .button:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
    outline: none !important;
    transition: none; }
  button:focus, .button:focus {
    outline: none;
    text-decoration: none; }
  button:hover, .button:hover {
    background-color: #A09E9E;
    border-color: #A09E9E;
    color: #FFF;
    text-decoration: none; }
  button:disabled, .button:disabled {
    opacity: .4; }

.button.button-green, button.button-green, input[type='submit'].button-green, input[type='reset'].button-green {
  background-color: #80BC72;
  border-color: #80BC72;
  color: #FFF; }
  @media all and (min-width: 40em) {
    .button.button-green:hover, button.button-green:hover, input[type='submit'].button-green:hover, input[type='reset'].button-green:hover {
      background-color: #62aa51;
      border-color: #62aa51;
      color: #FFF; } }
.button.button-blue, button.button-blue, input[type='submit'].button-blue, input[type='reset'].button-blue {
  background-color: #4FA7C2;
  border-color: #4FA7C2;
  color: #FFF; }
  @media all and (min-width: 40em) {
    .button.button-blue:hover, button.button-blue:hover, input[type='submit'].button-blue:hover, input[type='reset'].button-blue:hover {
      background-color: #398ca5;
      border-color: #398ca5;
      color: #FFF; } }
.button.button-orange, button.button-orange, input[type='submit'].button-orange, input[type='reset'].button-orange {
  background-color: #E09050;
  border-color: #E09050;
  color: #FFF; }
  @media all and (min-width: 40em) {
    .button.button-orange:hover, button.button-orange:hover, input[type='submit'].button-orange:hover, input[type='reset'].button-orange:hover {
      background-color: #d77526;
      border-color: #d77526;
      color: #FFF; } }
.button.button-orange-transparent, button.button-orange-transparent, input[type='submit'].button-orange-transparent, input[type='reset'].button-orange-transparent {
  background-color: transparent;
  border-color: #E09050;
  color: #E09050; }
  @media all and (min-width: 40em) {
    .button.button-orange-transparent:hover, button.button-orange-transparent:hover, input[type='submit'].button-orange-transparent:hover, input[type='reset'].button-orange-transparent:hover {
      background-color: transparent;
      border-color: #d77526;
      color: #E09050; } }
.button.button-red, button.button-red, input[type='submit'].button-red, input[type='reset'].button-red {
  background-color: #BD6961;
  border-color: #BD6961;
  color: #FFF; }
  @media all and (min-width: 40em) {
    .button.button-red:hover, button.button-red:hover, input[type='submit'].button-red:hover, input[type='reset'].button-red:hover {
      background-color: #a64e45;
      border-color: #a64e45;
      color: #FFF; } }
.button.button-gray, button.button-gray, input[type='submit'].button-gray, input[type='reset'].button-gray {
  background-color: #A09E9E;
  border-color: #A09E9E;
  color: #807E7E; }
  @media all and (min-width: 40em) {
    .button.button-gray:hover, button.button-gray:hover, input[type='submit'].button-gray:hover, input[type='reset'].button-gray:hover {
      background-color: #878484;
      border-color: #878484;
      color: #807E7E; } }
.button.button-white, button.button-white, input[type='submit'].button-white, input[type='reset'].button-white {
  background-color: rgba(0, 0, 0, 0.15);
  border-color: transparent;
  color: #FFF; }
  @media all and (min-width: 40em) {
    .button.button-white:hover, button.button-white:hover, input[type='submit'].button-white:hover, input[type='reset'].button-white:hover {
      background-color: rgba(0, 0, 0, 0.15);
      border-color: transparent;
      color: #FFF; } }

.features {
  opacity: .7; }

.slider {
  display: none; }
  @media all and (min-width: 40em) {
    .slider {
      -webkit-border-radius: 10px;
      -moz-border-radius: 10px;
      -ms-border-radius: 10px;
      border-radius: 10px;
      overflow: hidden;
      margin: 1rem;
      display: block; } }

.sss {
  height: 0;
  margin: 0;
  padding: 0;
  position: relative;
  display: block;
  overflow: hidden; }

.caption {
  color: white;
  background-color: #535152;
  width: 100%;
  display: block;
  padding: 0.5rem 1rem;
  margin-top: -2.5rem;
  opacity: 0.9; }

.shot-text {
  background-color: #535152;
  float: left;
  position: relative;
  width: 100%;
  height: 3.5rem; }
  @media all and (min-width: 40em) {
    .shot-text {
      background-color: #242424; } }

.shot-title {
  color: rgba(249, 249, 249, 0.8);
  font-size: 1.2rem;
  line-height: 1.4rem;
  position: absolute;
  bottom: 0;
  margin: 1rem;
  text-align: left; }
  @media all and (min-width: 40em) {
    .shot-title {
      font-size: 0.9rem;
      margin: 1rem 1rem 1.6rem 1rem; } }

.shot-description {
  color: rgba(249, 249, 249, 0.5);
  margin: 1.1rem 1rem;
  font-size: 1rem;
  text-align: right; }
  @media all and (min-width: 40em) {
    .shot-description {
      font-size: 0.8rem;
      position: absolute;
      bottom: 0;
      margin: 0;
      margin-left: 1rem;
      text-align: left;
      margin-bottom: 0.6rem; } }

.shot-price {
  color: #f9f9f9; }

.shirt {
  background-color: white;
  background-size: 90%;
  background-image: url("../img/tshirt.png");
  margin: 1%;
  width: 200px;
  height: 200px;
  background-repeat: no-repeat;
  background-position: center; }

*, *:before, *:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p.skill {
  margin-top: -0.1rem;
  text-align: right;
  padding: 0; }

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
  -webkit-tap-highlight-color: transparent; }

#slideshow {
  height: 25rem;
  background-color: #F2F4F5;
  position: relative;
  margin: auto; }
  #slideshow .hero {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%; }
  #slideshow #designer {
    background-image: url("img/hero_designer.png"); }
  #slideshow #sports-enthusiast {
    background-image: url("img/hero_sports-enthusiast.png"); }
  #slideshow #tech-geek {
    background-image: url("img/hero_tech-geek.png"); }
  #slideshow #movie-junkie {
    background-image: url("img/hero_movie-junkie.png"); }

#slideshow div {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0; }

.row {
  max-width: 50rem;
  margin: 0 auto;
  clear: both; }

.column, .column--learn {
  padding: 1rem;
  float: left; }
  .column.full, .full.column--learn {
    width: 100%; }
  .column.third, .third.column--learn {
    width: 33.3333333333%; }
  .column.fourth, .fourth.column--learn {
    width: 25%; }
  .column.two-thirds, .two-thirds.column--learn {
    width: 66.6666666667%; }
  .column.three-forths, .three-forths.column--learn {
    width: 75%; }

@media screen and (max-width: 650px) and (min-width: 0px) {
  .column.large-two-thirds, .large-two-thirds.column--learn, .column.large-third, .large-third.column--learn, .column.small-full, .small-full.column--learn {
    width: 100%; }
  .column p.small-centered, .column--learn p.small-centered {
    text-align: center; } }
@media screen and (max-width: 860px) and (min-width: 651px) {
  .column.large-two-thirds, .large-two-thirds.column--learn, .column.large-third, .large-third.column--learn, .column.medium-half, .medium-half.column--learn {
    width: 50%; }
  .column p.small-centered, .column--learn p.small-centered {
    text-align: center; } }
@media screen and (min-width: 861px) {
  .column.large-third, .large-third.column--learn {
    width: 33.3333333333%; }
  .column.large-two-thirds, .large-two-thirds.column--learn {
    width: 66.6666666667%; } }
.small {
  font-size: 0.8rem;
  color: #99A3A2; }

ul {
  list-style: none;
  margin: 0;
  padding: 0; }

/*-------design-------*/
.logo-mobile {
  display: none; }

.container {
  overflow: hidden;
  margin: 0 auto;
  padding: 2rem 0.5rem;
  max-width: 1080px; }

.shot-container {
  cursor: pointer;
  float: left;
  position: relative;
  width: 100%;
  padding-bottom: 80%; }
  @media all and (min-width: 40em) {
    .shot-container {
      width: 50%;
      padding-bottom: 40%; }
      .shot-container:hover {
        opacity: 0.8; } }
  @media all and (min-width: 64em) {
    .shot-container {
      width: 33.3333333%;
      padding-bottom: 26%; } }
  @media all and (min-width: 96em) {
    .shot-container {
      width: 20%;
      padding-bottom: 16%; } }

.shot {
  border-radius: 5px;
  overflow: hidden;
  position: absolute;
  left: 0.5rem;
  right: 0.5rem;
  top: 0.5rem;
  bottom: 0.5rem; }
  .shot img {
    width: 100%; }

.fade {
  opacity: 1;
  transition: opacity .25s ease-in-out;
  -moz-transition: opacity .25s ease-in-out;
  -webkit-transition: opacity .25s ease-in-out; }

.bkg-blue {
  box-shadow: 0px 3px 0px #75969C; }

.bkg-white {
  box-shadow: 0px 3px 0px #C6C8CA; }

.bkg-abide {
  box-shadow: 0px 3px 0px #413e39; }

.bkg-chicago {
  box-shadow: 0px 3px 0px #67ac3f; }

.bkg-charreada {
  box-shadow: 0px 3px 0px #BCAE9C; }

.bkg-fall-blast {
  box-shadow: 0px 3px 0px #821a17; }

.bkg-frolf {
  box-shadow: 0px 3px 0px #004E66; }

.bkg-graduation {
  box-shadow: 0px 3px 0px #748291; }

.bkg-man-camp {
  box-shadow: 0px 3px 0px #1D130C; }

.bkg-outdoors {
  box-shadow: 0px 3px 0px #A7A297; }

.bkg-penthouse {
  box-shadow: 0px 3px 0px #097599; }

.bkg-roots {
  box-shadow: 0px 3px 0px #4B5961; }

.bkg-womens14 {
  box-shadow: 0px 3px 0px #b4091c; }

/* Mobile screens (480px) */
@media (max-width: 480px) {
  .logo {
    display: none; }

  .logo-mobile {
    display: inline-block; } }
/* Tablet screens (650px) */
@media (max-width: 650px) and (min-width: 481px) {
  .logo-mobile {
    display: none; } }
/* Desktop/tablet screens (860px) */
@media (max-width: 860px) and (min-width: 651px) {
  .logo-mobile {
    display: none; } }
/* Large desktop screens (1280px) */
@media (max-width: 1280px) and (min-width: 861px) {
  .logo-mobile {
    display: none; } }
/*-------blog-------*/
.blog__old-code {
  max-width: 32rem;
  padding: 2rem 1rem 1rem 1rem;
  margin: 0 auto; }

.blog-image {
  width: 100%;
  height: inherit;
  margin: 0 0 1rem 0;
  background-color: transparent; }

.blog-link {
  font-size: 0.8rem;
  color: #777;
  float: left;
  padding: 0.2rem 0.5rem;
  cursor: pointer;
  margin-bottom: -0.2rem; }
  .blog-link:hover {
    background-color: #D9DDE0;
    border-radius: 3px; }
  .blog-link a:visited {
    color: #777; }

i {
  display: block;
  float: left;
  background-repeat: no-repeat;
  margin: 0.2rem 0.2rem 0 0; }
  i.dribbble {
    width: 0.9rem;
    height: 1rem;
    background-image: url(img/dribbble.svg); }
  i.tumblr {
    width: 0.6rem;
    height: 1rem;
    background-image: url(img/tumblr.svg); }
  i.twitter {
    width: 1rem;
    height: 1rem;
    background-image: url(img/twitter.svg); }

/*-------blog_media-queries-------*/
@media (max-width: 400px) {
  .blog-link {
    padding: 0.4rem 0.8rem 0.4rem 0.8rem; }
    .blog-link i.dribbble {
      padding-right: 1.4rem;
      margin: 0; }
    .blog-link i.tumblr {
      padding-right: 1rem;
      margin: 0; }
    .blog-link i.twitter {
      padding-right: 1.6rem;
      margin: 0; } }
/*-------contact-------*/
.contact-img {
  background-image: url(../img/mac.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 23rem;
  height: 14rem;
  margin: 5rem auto 2rem auto; }

.contact-text {
  font-size: 0.9rem;
  color: #999;
  text-align: center;
  line-height: 1.7rem; }
  .contact-text.large {
    color: #2F5D67;
    font-size: 1.2rem; }

.about-photo {
  background-image: url(../img/profile.png);
  background-repeat: no-repeat;
  background-size: 100%;
  border: 2px solid #E0E0E0;
  border-radius: 50%;
  width: 14rem;
  height: 14rem;
  margin: 0 auto; }

.about-section {
  padding: 2rem 1rem;
  height: auto; }
  .about-section:after {
    content: "";
    display: table;
    clear: both; }

.skill-bar {
  height: 1rem;
  border-radius: 50px;
  margin-top: 4px; }
  .skill-bar.illustrator {
    width: 100%;
    background-color: #FECE73; }
  .skill-bar.photoshop {
    width: 80%;
    background-color: #A5DBF6; }
  .skill-bar.indesign {
    width: 70%;
    background-color: #E973AB; }
  .skill-bar.html {
    width: 90%;
    background-color: #85C491; }
  .skill-bar.mac {
    width: 100%;
    background-color: #BFBCBC; }

hr.separator {
  padding: 0;
  border: none;
  border-top: 2px solid #DDD;
  color: #BBB;
  text-align: center; }
  hr.separator:after {
    display: inline-block;
    position: relative;
    top: -0.75rem;
    font-size: 0.9rem;
    padding: 0 0.5rem;
    background: #F1F2F3; }
  hr.separator.tools:after {
    content: "Tools & Skills"; }
  hr.separator.clients:after {
    content: "Clients"; }
  hr.separator.social:after {
    content: "Social"; }

body {
  background-color: #EDF1F2; }

body.blog .row {
  max-width: 40rem; }

.subnav {
  background-color: rgba(221, 226, 230, 0.5);
  display: block;
  padding: 0 1rem;
  width: 100%; }
  .subnav li {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border-bottom: 2px solid transparent;
    color: #6C747D;
    display: inline-block;
    font-size: 0.9rem;
    font-weight: 600;
    padding: 0.5rem;
    text-transform: uppercase; }
    .subnav li.visited {
      color: #B6BBC2;
      cursor: pointer;
      margin-right: 1rem;
      position: relative; }
      .subnav li.visited:hover {
        background-color: #DDE2E6;
        border-bottom-color: #CF649A;
        color: #6C747D; }
      .subnav li.visited:after {
        content: ">";
        color: #C4C8CD;
        font-family: "Inconsolata", monospace;
        margin-top: 0.1rem;
        pointer-events: none;
        position: absolute;
        right: -0.8rem; }

.column, .column--learn {
  float: left;
  width: 100%; }

.column--learn {
  width: 50%; }
  @media all and (min-width: 40em) {
    .column--learn {
      width: 33.33333%; } }

.card {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: #FFF;
  border: solid #DDE2E6;
  border-width: 0 0 4px 0;
  border-radius: 5px;
  cursor: pointer;
  padding: 2rem 1rem;
  margin-bottom: 1rem;
  width: 100%;
  display: inline-block; }
  .card:active {
    -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
    background-color: #fafafa;
    border: none;
    margin-top: 2px;
    outline: none !important;
    transition: none; }
  .card.sass {
    border-bottom-color: #CF649A; }
  @media all and (min-width: 40em) {
    .card {
      padding: 4rem 1rem; } }

section {
  margin-top: 1rem;
  padding: 1rem; }

h1, h2, h3, h4, h5, h6 {
  color: #575D64; }

a.inline {
  border-bottom: 1px solid rgba(106, 141, 211, 0.8);
  color: #6A8DD3;
  font-weight: 600;
  padding-bottom: 2px; }
  a.inline:hover {
    opacity: .6; }

p {
  color: #575D64;
  font-size: 16px;
  line-height: 1.5rem; }
  p .code-block {
    background-color: rgba(224, 224, 224, 0.5);
    border: 1px solid #C7C7C7;
    border-radius: 3px;
    font-family: monaco, 'Inconsolata', sans-serif;
    font-size: 0.8rem;
    padding: 0rem 0.2rem 0.1rem;
    margin: -0.2rem 0; }

header.hero {
  background-color: #FFF;
  border: none;
  height: auto;
  padding: 2rem;
  position: static; }
  header.hero h1 {
    font-size: 2.5rem;
    text-align: center; }

h1.bower, .bower h1, h2.bower, .bower h2, h3.bower, .bower h3, h4.bower, .bower h4 {
  color: #F1623B; }
h1.sass, .sass h1, h2.sass, .sass h2, h3.sass, .sass h3, h4.sass, .sass h4 {
  color: #CF649A; }

.code {
  background-color: rgba(36, 41, 44, 0.9);
  border-radius: 5px;
  color: #FFF;
  font-family: monaco, 'Inconsolata', sans-serif;
  font-size: 0.8rem;
  font-weight: 600;
  line-height: 1.2rem;
  padding: 0.8rem 1rem;
  position: relative;
  margin: 0.5rem 0 4rem 0; }
  .code ::selection {
    background-color: #D2D5D9; }
  .code.code--scss:before, .code.code--css:before, .code.code--html:before {
    content: "";
    border-radius: 3px;
    color: #24292C;
    line-height: 1rem;
    opacity: .9;
    padding: 0.2rem 0.2rem 0.3rem;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem; }
  .code.code--scss, .code.code--html {
    margin-bottom: 1.5rem; }
  .code.code--html:before {
    content: "html";
    background-color: #B6BBC2; }
  .code.code--scss:before {
    content: "scss";
    background-color: #dca5d0; }
  .code.code--css:before {
    content: "css";
    background-color: #F2E670; }
  .code .code__arrow {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    font-size: 1rem; }
  .code .code_number {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: rgba(87, 93, 100, 0.8);
    border-radius: 5px 0 0 5px;
    color: #B6BBC2;
    float: left;
    margin: -0.8rem 1rem 0 -1rem;
    padding: 0.8rem;
    text-align: right;
    width: 2.5rem; }
  .code .code_text {
    margin: 0 -1rem 0 1.5rem; }
    .code .code_text li:hover {
      background-color: rgba(87, 93, 100, 0.5); }
  .code .green {
    color: #60E49F; }
  .code .red {
    color: #FF7E6C; }
  .code .blue {
    color: #9DC0FF; }
  .code .orange {
    color: #FFE07E; }
  .code .yellow {
    color: #FFFFBD; }
  .code .purple {
    color: #F4CBFF; }

.top-nav {
  background-color: #E9EAEB;
  border: solid #D9DDE0;
  border-width: 0 0 4px 0; }
  .top-nav a {
    border-radius: 50px;
    color: #222;
    line-height: 37px;
    text-decoration: none;
    outline: none;
    margin: 0 0.3rem;
    padding: 0.5rem 0.8rem; }
    @media all and (min-width: 40em) {
      .top-nav a {
        margin: 0 0.5rem;
        padding: 0.4rem 1rem; } }
    .top-nav a:active {
      -webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
      box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.15);
      outline: none !important;
      transition: none; }
    .top-nav a:hover, .top-nav a:focus {
      background-color: #D9DDE0;
      color: #222;
      outline: none; }
    .top-nav a.current {
      background-color: #466973;
      color: #E9EAEB; }
      .top-nav a.current:active {
        -webkit-box-shadow: none;
        box-shadow: none; }
  .top-nav ul {
    padding: 0rem;
    margin: 0.7rem 0;
    text-align: center; }
  .top-nav li {
    display: inline;
    font-size: 0.8rem;
    list-style-type: none; }

/*# sourceMappingURL=styles.css.map */
